name: Job - Medium Test

on:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - name: Install Maxima
        run: sudo apt-get update && sudo apt-get install -y maxima
      - name: Install Dependencies
        run: deno install
      - name: Run Tests
        run: deno task test:medium
